* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.head-logo {
   width: 100px;
}

ul, li {
    list-style-type: none;
}

.head-container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    /* d */
    background-color: white;
    border: 1px solid black
}
.sx-part, .dx-part {
    width: 50%;
    background-color: brown;
    border: 1px solid black;
    gap:  0.5rem;
    flex-direction: row;
    display: flex;
}

.sx-part {
    justify-content: flex-start;
    align-items: center;
}

.dx-part {
    justify-content: flex-end;
    align-items: center;
}
.container-large {
    width: 100%;
    max-height: 700px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: darkgray;
    border: 1px solid black;
}

.row {
    display: flex;
    justify-content: space-between;
    
}

.wrapper {
    width: 80%;
    display:flex;
    justify-content: center;
    margin: 0 auto;
    /* d */
    background-color: aquamarine;
    border: 1px solid black;
    
}

.hero-h {
    text-align: center;
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.hero-text {
    width: 30%;
    background-color: aquamarine;
    border: 1px solid black;

}

.hero-img {
    width: 70%;
    background-color: aquamarine;
    border:1px solid black;
}

.container-small {
    width: 60%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: lightgreen;
    border:1px solid black;

}

.check-box-container {
    width: 60%;
    margin: 0 auto;
    background-color: lightgreen;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.check-box-container .check-box {
    display: flex;
    flex-direction: row;
}

.flex-cards {

    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem;
    background-color: lightgreen;
    border: 1px solid black;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: stretch; 
}

.card-1,
.card-1,
.card-3 {
    flex: 1;
    border: 1px solid black;
    padding: 1rem;
    font-size: 1rem;
}


.card-4 {
    flex: 2; 
    border: 1px solid black;
    padding: 1rem;
    font-size: 1rem;
}





.btn-blue {
    background-color: blue;
    border: none;
    padding: 2px;
}

.row-flex {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.scard {
    flex-basis: calc(30% - 1rem); 
    margin-bottom: 1rem; 
    border: 1px solid black;
    padding: 1rem;
    box-sizing: border-box;
}

.img-partner , .img-partner-text {
    flex-direction: row;
    justify-content: center;
   
    
}

.img-partner {
    width: 40%;
}

.img-partner-text {
    width: 40%;
}

.col-large {
    width: calc(100% / 3);
    border: 1px solid black;
    height: 400px;
    
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left,
.right {
    width: calc(50% - 0.5rem); /* Adjust for spacing between columns */
}

.left img,
.right img {
    margin-bottom: 1rem; /* Add spacing between images */
}