* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style-type: none;
}

.head-container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    /* d */
    background-color: gray;
    border: 1px solid black

}
.sx-part, .dx-part {
    width: 50%;
    background-color: brown;
    border: 1px solid black;
}

.container-large {
    width: 100%;
    max-height: 700px;
    background-color: darkgray;
}


.wrapper {
    width: 80%;
    display:flex;
    justify-content: center;
    margin: 0 auto;
    /* d */
    background-color: aquamarine;
    border: 1px solid black;
    
}

.hero-text {
    width: 30%;
    background-color: aquamarine;
    border: 1px solid black;

}

.hero-img {
    width: 70%;
    background-color: aquamarine;
    border:1px solid black;
}

.container-small {
    width: 60%;
    margin: 0 auto;
    display: flex;
    background-color: lightgreen;
    border:1px solid black;

}
.check-box checkbox {
    display: flex;
    flex-direction: row;
}


.btn blue {
    background-color: blue;
}

.row {
    display: flex;
    width: calc(100% / 3);
}